.container {
    width: 310px;
    height: 650px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    overflow: auto;
}

h2 {
    margin-left: 25px;

}

h3 {
    background-color: rgba(220, 220, 230, 0.8);
    border: 0px solid #000;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.title-section {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
}

.menu-icon {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.llamar {
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 0px;
    padding: 15px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 80%;
    box-sizing: border-box;
}

p {
    padding: 10px;
}

.help-button {
    background-color: #007bff;
    border: none;
    padding: 0px;
    margin: 30px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url("https://www.freepik.es/icono/linea_9694578#fromView=search&p age=1&position=2&uuid=cbdb5c14-c730-434b-8b16-cb3357b9cd81");
}