// emergency.scss

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 310px;
    height: 650px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    overflow: auto;

    .title-section {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
        position: relative;
    }

    .menu-icon {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
    }

    .search-bar {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .subtitle-section {
        color: #333;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .emergency-button {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .emergency-container {
        display: inline-block;

        .emergency-description {
            margin-left: 10px;
            font-size: 16px;
        }
    }

    .card {
        display: block;
        background-color: #fff;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        text-decoration: none; /* Evita que los enlaces tengan subrayado */

        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
        }

        .card-button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
        }
    }
}

.menu-container {
    display: none; /* Ocultar el menú por defecto */

    &.menu-visible {
        display: block; /* Mostrar el menú cuando la clase menu-visible está presente */
    }
}

#menuFrame {
    display: none; /* Ocultar el iframe inicialmente */
    position: fixed; /* Para que se mantenga fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Asegurar que esté por encima de otros elementos */
}